<div class="container">
  <h2>Cadastro de Cliente</h2>


  <div *ngIf="sucessoMensagem" class="alert alert-success">
    {{ sucessoMensagem }}
  </div>


  <div *ngIf="erroMensagem" class="alert alert-danger">
    {{ erroMensagem }}
  </div>

  <form (ngSubmit)="cadastrarCliente()">
    <div class="form-group">
      <label for="nome">Nome</label>
      <input id="nome" [(ngModel)]="cliente.nome" name="nome" type="text" class="form-control" required />
    </div>

    <div class="form-group">
      <label for="idade">Idade</label>
      <input id="idade" [(ngModel)]="cliente.idade" name="idade" type="number" class="form-control" required />
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input id="email" [(ngModel)]="cliente.email" name="email" type="email" class="form-control" required />
    </div>

    <div class="form-group">
      <label for="numeroConta">Número da Conta</label>
      <input id="numeroConta" [(ngModel)]="cliente.numeroConta" name="numeroConta" type="text" class="form-control" required maxlength="7"/>
    </div>

    <div class="form-group">
      <label for="endereco">Endereço</label>
      <input id="endereco" [(ngModel)]="cliente.endereco" name="endereco" type="text" class="form-control" required />
    </div>

    <button type="submit" class="btn btn-primary">Cadastrar</button>
  </form>
</div>
